/* Exclusion zone */
#exclusions {
    margin-bottom:10px;
    display:none;
}

#exclusions.active {
    display: block;
}

#exclusions .card-text .excl:first-child {
    margin-left: 10px;
}

#submitExcl {
    margin-left: 10px;
}

#clrExcl {
    margin-right: 10px;
}
/* Exclusion Button Sections */
.start:hover, 
.end:hover, 
.tid:hover {
    color: #6af48d;
}

/* Time Range */
#timerange {
    display:inline-block;
}

.card-title h3 {
    display: inline-block;
    min-width: 30%;
}

.card-title h3.time-display {
    text-align: center;
    font-size: 1.2em !important;
    font-weight: normal !important;
    font-family: monospace;
}

.time-display .icon-triangle-right {

    padding: 0 12px;
    color: #6af48d;

}

/* Buttons */
.btn.rm:hover {
    color: #f24747;
    text-shadow: 0px 1px 1px rgba(0,0,0, 0.6);
}

.btn.danger {
    background-color:#d05757;
}
.btn.danger:focus {
    box-shadow: 0 0 1px 2px #d5a1a1;
}

.btn-pill > i[class^="icon-"]:first-of-type {
    margin-left: -4px;
    margin-right: 6px;
}

/* Toggle Colour Button */
#toggleColour {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    background-color: #5077d5;
    font-size: 1.5em;
    padding: 5px 10px;
}

#toggleColour.mono {
    background: rgb(230,68,68);
    background: linear-gradient(90deg, rgba(230,68,68,1) 0%, rgba(76,226,96,1) 50%, rgba(82,64,215,1) 100%);
}
